.container {
    position: relative;
    background-image: url('/assets/light-noise.png');
    background-attachment: fixed;
    height: 20vh;
    min-height: 170px;
    padding: 10px;
    display: flex;

    .left {
        height: 100%;
        width: 70vw;

        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;

        .title {
            max-width: 1000px;
        }
    }

    .right {
        height: 100%;
        width: 30vw;
        // max-width: 400px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .inlineTextInput {
            .inlineTextInputLabel {
                width: 50%;
            }

            .inlineTextInputField {
                width: 50%;
            }
        }

        .loading {
            position: absolute;
            top: 5px;
            right: 8px;
            display: flex;
            align-items: center;

            p {
                margin: 0;
            }
        }
    }



    .notesButton {
        position: absolute;
        bottom: 0;
        right: 36px;
        width: 36px;
        height: 36px;
        // padding:2px;

        display: flex;
        align-items: center;
        justify-content: center;


        img {
            width: 20px;
            height: 20px;
        }
    }
}

.inlineTextInput {
    display: flex;
    width: 100%;

    .inlineTextInputLabel {
        margin-left: 7px;
        margin-right: 7px;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        p {
            margin: 0;
        }
    }

    .postInlineTextInputLabel {
        margin-left: 0;
        margin-right: 7px;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        p {
            margin: 0;
        }
    }
}
